*{
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.flex-container1{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.input-search{
    width: 45%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}
.search-btn{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}
.list-p{
    padding: 5px 25px;
    background-color: white;
    width: 55%;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
}
.added-Lists{
    position: relative;
}
.form-style{
    width: 100%;
    text-align: center;
}
.trash-icon {
    position: absolute;
    left: 215px;
    top: 20px;
    border: none;
    background-color: white;
    padding: 3px;
}
.edit-icon {
    position: absolute;
    top: 20px;
    right: 225px;
    border: none;
    background-color: white;
    padding: 3px;
}
.edit-icon:hover,.trash-icon:hover,.search-btn:hover{
    cursor: pointer;
}
ul{
   display: flex;
   flex-direction: column;
   align-items: center;
}
li{
    display: flex;
    align-items: center;
    border: 1px solid white;
    list-style: none;
    width: 60%;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
}
.editDivFlex{
    display: flex;
    align-items: flex-start;
}
.closeDivFlex{
    display: flex;
    align-items: flex-end;
}
.close{
    display: flex;
    margin-left: auto;
}
.editTodo{
    margin: 2px;
}
